body,html{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333333;
    background-color: #FDFBF9;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

/*	TEXTOS		*/
h1,h2,h3,h4{
	font-weight: 700;
	color: #496281;
	margin-bottom: 15px;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 28px;
}
h3{
	font-size: 25px;
}
h4{
	font-size: 21px;
}

.underline{
	text-decoration: underline;
}
.bold{
	font-weight: bold;
}
.legal{
	font-size: 14px;
}
.small, .text-small{
	font-size: 12px;
	color: #c8c8c8;
	transition: color 1s;
}
.small.black{
	color: #333333 !important;
	font-size: 12px !important;
}
a{
	color: #4A8EFF;
}

/*
 *	Start Style sprint 4
*/
/* .text-orange{
	color: #ee7420;
}
.text-orange-light{
	color: #fda64d;	
}
.text-red{
	color: #FF6868 !important;
}
.text-blue{
	color: #4A8EFF;
}
.text-green{
	color: #33FFA9;
} */
/*
 *	End Style sprint 4
*/



/*	INPUTS	*/
.form-control{
		box-shadow: none !important;
		border-color: #DFDFDF;
		font-size: 16px;
		color: #888888;
	}
	.form-control:focus{
		border-color: #DFDFDF;
	}

	.form-control.form-alert{
		border-color: #FF6868;
	}
	.form-control.form-success{
		border-color: #33FFA9;
	}
	.form-control-icono{
		position: relative;
	}
		.form-control-icono [class^="ri-"],
		.form-control-icono [class*="ri-"]{
			position: absolute;
			top: 14px;
			right: 13px;
			color: #C4C4C4;
		}
		.form-control-icono [class^="ri-"].toggle,
		.form-control-icono [class*="ri-"].toggle{
			cursor: pointer;
			color: #03053D;
		}
		.form-control-icono.search{
			max-width: 300px;
			margin-left: auto;
		}
		select {
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		}
		select::-ms-expand {
		    display: none;
		}
		/*.select{
			position: relative;
		}
			.select [class^="ri-"],
			.select [class*="ri-"]{
				font-size: 30px;
				position: absolute;
				top: 6px;
				right: 7px;
			}*/
		select.form-control{
			background-image: url('../img/icon-select.png');
			background-repeat: no-repeat;
			background-position: calc(100% - 12px) 22px;
			padding-right: 35px;
		}

.label-radio{
		margin-bottom: .5rem;
	}
	.select-prepend{
		background-color: #F3F3F0;
		border-radius: 0.25rem 0px 0px 0.25rem;
	}

@media(max-width: 767px){
	.form-control-icono.search{
		max-width: none;
	}
}
.form-group label{
	font-size: 16px;
}

.form-group .message{
	display: none;
	font-size: 16px;
	margin-top: 10px;
}
.form-group.error .form-control{
	border-color: #FF6868;
}
.form-group.error .message,
.form-group.normal .message{
	display: block;
}

.form-group.error .message,
.form-group.error .message a{
	color: #FF6868;
}


.password-instructions{
	margin-top: 1rem;
	margin-bottom: 1rem;
	/*display: none;
	animation-name: fadeIn;
	animation-duration: 1s;*/
}
 .password-instructions span{
	color: #C4C4C4;
	transition: all 0.3s;
}
.password-instructions span.active{
	color: #33FFA9;
}
/*.form-control:focus ~ .password-instructions{
	display: block;
}*/

.check{
	text-indent: -1.5em;
	padding-left: 27px;
	margin-bottom: 1rem;
	
}
	.check input{
		transform: scale(2);
		display: inline-block;
		margin-right: 12px;

	}

.radios{
	display: inline-block;
	vertical-align: middle;
}
	.radios label{
		display: inline-block;
		padding: 10px 15px;
		background-color: #DFDFDF;
		border-radius: 25px;
		transition: background 1s;
		cursor: pointer;
	}
	.radios input{
		display: none;
	}
	.radios input:checked+label{
		background-color: #ee7421;
		color: #fff;
	}
textarea{
	resize: none;
}	



/*	BOTONES	*/
.button{
		font-size: 18px;
		border-radius: 30px;
		border: 0px solid transparent;
		padding: 13px 35px;
		display: inline-block;
		margin-bottom: 0px;
		text-decoration: none !important;
		cursor: pointer;
		transition: .3s background;
		text-align: center;
	}
		.button.block{
			display: block;
			width: 100%;
		}
		.button.main{
			background-color: #EE7421;
			color: #fff;
		}
			.button.main:hover,
			.button.main.hover{
				background-color: #FFA64D;
			}
			.button.main:active,
			.button.main.active{
				background-color: #D95800;
			}

		.button.secondary{
			border: 1px solid #496281;
			color: #496281;
			background-color: #ffffff;
		}

			.button.secondary:hover,
			.button.secondary.hover{
				border-color: #496281;
				background-color: #F6FAFE;
			}

			.button.secondary:active,
			.button.secondary.active{
				color: #ffffff;
				border-color: #496281;
				background-color: #496281;
			}

.button.disabled{
	background-color: #C4C4C4 !important;
	cursor: not-allowed;
}
.button.disabled.white{
	color: #ffffff;
}


		
		.button [class^="ri-"],
		.button [class*="ri-"]{
			line-height: 0px;
		}

			.button.secondary [class^="ri-"],
			.button.secondary [class*="ri-"]
			.button.main [class^="ri-"],
			.button.main [class*="ri-"]{
				font-size: 30px; /*cambio 30 al 25 sprint 4*/
				display: inline-block;
				height: 26px; /*cambio 26 al 25 sprint 4*/
				vertical-align: middle;
				line-height: 24px;
			}

button.pd-sm{
	padding: 13px 25px;
}

	.button-circle{
		font-size: 18px;
		border: 1px solid #DFDFDF;
		display: inline-block;
		margin-bottom: 10px;
		text-decoration: none !important;
		transition: .3s all;
		border-radius: 100%;
		color: #03053D;
		width: 35px;
		height: 35px;
		text-align: center;
		padding-top: 3px;
		cursor: pointer;
		background-color: #ffffff;
	}
		.button-circle:hover,
		.button-circle.hover{
			background-color: #F6FAFE;
			border: 1px solid #4A8EFF;
		}
		.button-circle:active,
		.button-circle.active{
			background: #03053D;
			border: 1px solid #03053D;
			color: #fff;
		}
		.button-circle.disabled{
			border: 1px solid #DFDFDF;
			color: #DFDFDF;
			cursor: not-allowed;
		}
		.button-circle.red{
			border: 1px solid #EB5757;
		}
		.button-circle.link{

			color: #4A8EFF;;
		}
		.button.with-icon{
		text-align: left;
	}
.button.with-icon [class^="ri-"],
	.button-with-icon [class*="ri-"]{
		float: right;	
	}

.button-icon{
	background-color: #ffffff;
	border: 0px solid white;
	color: #333333;
	border-radius: 15px;
	padding: 15px 20px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
}
	.button-icon [class^="ri-"],
	.button-icon [class*="ri-"]{
		color: #03053D;
		font-size: 25px;
		line-height: 10px;
		transform: translateY(5px);
		display: inline-block;
		margin-right: 15px;

	}

	.button-icon.right [class^="ri-"],
	.button-icon.right [class*="ri-"]{
		margin-right: 0px;
		margin-left: 15px;
	}
	.button-icon.gris{
		background-color: #F6FAFE;

	}

	.pagination{
		display: flex;
		justify-content:center !important;
	}
	.pagination .page-item .button-pagination {
		font-size: 18px;
		border: 0px solid #DFDFDF;
		display: inline-block;
		margin-bottom: 10px;
		text-decoration: none !important;
		transition: .3s all;
		border-radius: 4px;
		color: #03053D;
		text-align: center;
		padding: 10px 15px;
		cursor: pointer;
		background-color: #ffffff;
		margin-right: 15px;
	}
	.pagination .page-item .button-pagination:last-of-type{
		margin-right: 0px;
	}
	.pagination .page-item .button-pagination.disabled{
		color: #DFDFDF;
		cursor: not-allowed;
		background-color: #fff !important;
	}
	.pagination .page-item .button-pagination.active{
		background-color: #fff !important;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
	}
	.pagination .page-item .button-pagination:hover{
		background-color: #F6FAFE;
	}

/*	STEPS	*/
ul.steps{
		list-style-type: none;
		margin-left: 0px;
		padding: 0px;
		margin-bottom: 30px;
		text-align: center;
	}

		ul.steps li{
			display: inline-block;
			font-size: 13px;
			padding: 10px;
			color: #B9B9B9 !important;
			position: relative;
			margin-right: 18px;
		}

			ul.steps li::after{
				content: '>';
				position: absolute;
				color: #B9B9B9;
				right: -15px;
			}
			ul.steps li:last-of-type{
				margin-right: 0px;
			}
			ul.steps li:last-of-type::after{
				content: '';
			}

			ul.steps li.active{
				color: #000000;
				border-bottom: 1px solid #EE7421;
			}

			ul.steps.sm{
		margin-bottom: 15px;
	}	
	ul.steps.sm li{
		padding: 4px;
	}	

/*	PROGRESS BAR	*/
.barra-progreso{
	width: 180px;
	margin: auto;
	text-align: center;

}
.barra-progreso .progress{
	background-color: #F3F3F0;
}
.barra-progreso .progress .progress-bar{
	background-color: #C39712;
}
.barra-progreso label{
	font-size: 13px;
	color: #000000;
}

/*	BREADCRUMBS	*/
ul.breadcrumbs{
	margin-bottom: 50px;
	padding-left: 0px;
	list-style-type: none;
	background-color: #F3F3F0;
	padding: 10px;
	border-radius: 4px;
	display: inline-block;
	color: #6C757D;
}
	ul.breadcrumbs li{
		display: inline-block;
		font-size: 16px;
	}
	ul.breadcrumbs li::after{
		content: '/';
		padding-left: 5px;
		padding-right: 5px;
	}
	ul.breadcrumbs li:last-of-type::after{
		content: '';
		display: none;
	}

/*	VISTA MOSAICO Y LISTA	*/
/* .tags-view{

}	 */
	.tags-view .tags{
		display: inline-block;
		width: calc(100% - 80px);
	}
		.tags-view .tags .button-icon{
			margin-bottom: 15px;
		}
	.tags-view .displays{
		display: inline-block;
		vertical-align: middle;
	}
	.tags-view .displays .display{
		font-size: 30px;
		color: #DFDFDF;
		display: inline-block;
		cursor: pointer;
	}
	.tags-view .displays .display:first-of-type{
		margin-right: 5px;
	}
	.tags-view .displays .display.active{
		color: #496281;
	}


/*	CALENDARIO	*/
.item-calendario{
	position: absolute;
	right: 15px;
	top: calc(100% - 10px);
	z-index: 10;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	padding: 10px;
	background-color: #fff;
	width: 300px;
}
	.item-calendario .arrow{
		display: inline-block;
		width: 33%;
		text-align: center;
		color: #EE7421;
		cursor: pointer;
	}
		.item-calendario .arrow [class^="ri-"],
		.item-calendario .arrow[class*="ri-"]{
			position: relative;
			top: 8px;
			right: unset;
			font-size: 30px;
			line-height: 20px;
		}
	.item-calendario .year,
	.item-calendario .month{
		display: inline-block;
		width: 33%;
		font-weight: bold;
	}
	.item-calendario .weekdays{
		font-size: 0;
		color: #EE7421;
		margin-bottom: 10px;
	}
	.item-calendario .days{
		font-size: 0;
		color: #000000;
		margin-bottom: 10px;
	}
	.item-calendario .day{
		display: inline-block;
		width: 14%;
		font-size: 18px;
		text-align: center;
		cursor: pointer;
	}
		.item-calendario .day.disabled{
			cursor: not-allowed;
			color: #BDBDBD;
		}
		.item-calendario .day.active{
			background-color: #dfdfdf;
			border-radius: 4px;
		}

/*	HELPERS	*/

.container-sm{
	max-width: 590px;
}

.caja{
	padding: 50px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
	border-radius: 15px;
	background-color: #ffffff;
	transition: background 1s;
	position: relative;
}
	.caja.sm{
		padding: 30px 40px;
	}
	.caja.sm.especial{
		padding: 30px 40px 15px;
	}
	.caja.xs{
		padding: 20px;
		height: 100%;
	}
		.caja.xs p{
			margin-bottom: 5px;
		}

	.caja.mh{
		min-height: 230px;
	}
	.caja.empty{
		box-shadow: none;
		border: 2px dashed #E6E6E6;
		color: #CFCFCF;
	}
		.caja.empty > *{
			color: inherit;
		}
	.caja.verde{
		background-color: #33FFA9;
	}
	.caja.gris{
		background-color: #f0f0f0;
	}
		.caja.verde .small,
		.caja.verde .text-small{
			color: #000000;
		}
	.caja table{
		width: 100%;
	}
	.caja table p{
		margin-bottom: 0px;
	}
.boton-caja{
	text-decoration: none !important;
}
	.boton-caja .caja{
		transition: all 0.5s !important;
	}
	.boton-caja:hover .caja{
		background-color: #EE7421;
	}
	.boton-caja .caja > *{
		transition: all 0.5s !important;
	}
	.boton-caja:hover .caja > *{
		color: #fff;
	}
	.boton-caja:hover .caja path{
		fill: #fff;
	}

/* .caja.lista .text-right{
	width: 130px;
} */
.caja .text-right .button-circle{
	margin-bottom: 0px;
}

.rectangulo{
	border: 1px solid #DFDFDF;
	padding: 20px;
	margin-bottom: 15px;
}


.height-auto{
	height: auto !important;
}
.max-width-none{
	max-width: none !important;
}
.md-float-right{
	float: right;
}
@media(max-width: 768px){
	.md-float-right{
		text-align: right;
		float: none;
	}
}

@media(max-width: 575px){
	.caja.sm.especial .button{
		width: 100%;
	}
}

@media(max-width: 767px){ /*	XS Y SM	*/
	.caja table tr,
	.caja table tr td{
		display: inline-block;
		width: 100%;
	}
	.caja{
		padding: 50px 35px;
	}
	.caja.lista .text-right{
		width: 100%;
	}
}
@media(min-width: 768px) and (max-width: 991px){ /*	MD	*/
	.caja.lista table p,
	.caja.lista h4{
		font-size: 65%;
	}
}


.inline-b{
	display: inline-block
}
.pt-15{
	padding-top: 15px;
}
.mb-0{
	margin-bottom: 0px;
}
.mb-15{
	margin-bottom: 15px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-45{
	margin-bottom: 45px;
}
.mb-60{
	margin-bottom: 60px;
}
.mb-75{
	margin-bottom: 75px;
}
.ml-15{
	margin-left: 15px;
}
.mr-7{
	margin-right: 7px;
}
.mr-15{
	margin-right: 15px;
}
.mt-15{
	margin-top: 15px;
}
.mt-30{
	margin-top: 30px;
}
.mt-60{
	margin-top: 75px;
}
.inherit{
	color: inherit;
}

.float-right{
	float: right;
}
.hidden{
	display: none;
}




/*	MENU 	*/
.menu{
		padding: 25px 0px;
		background-color: #ffffff;
	}
	.menu .logos img{
		height: 65px;
		padding-right: 20px;
	}

	.menu .boton-azul{
		background-color: #496281;
		display: inline-block;
		color: #fff;
		padding: 15px 30px;
		border-radius: 60px;
		max-width: 375px;
		text-align: center;
		vertical-align: middle;
		text-decoration: none !important;
		line-height: 21px;
		border: 1px solid #fff;
		transition: .3s background;
	}
	.menu .boton-azul:active,
	.menu .boton-azul.active{
		border: 1px solid #496281;
		color: #496281;
		background-color: #F6FAFE;
	}
	.menu .boton-azul:hover,
	.menu .boton-azul.hover{

		border: 1px solid #496281;
		color: #496281;
		background-color: #ffffff;
	}

	.menu .diagnostico-esr{
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		color: #858488;
		padding: 10px;
	}

	.menu .separador{
		height: 41px;
		position: relative;
		display: inline-block;
		border-right: 1px solid #DFDFDF;
		vertical-align: middle;
		margin: 0px 15px 0px 7px;
	}

.dropd,.drop-menu-bottom{
	background-color: transparent;
	border: none;
	font-size: 18px;
	color: #333;
	outline: 0 !important;
	padding: 0px;
}
	.dropd > *,
	.drop-menu-bottom > * {
		vertical-align: middle;
	}
	.dropd .icon,
	.drop-menu-bottom .icon{
		color: #EE7421;
		vertical-align: top;
	}
	.dropd .down,
	.drop-menu-bottom .down{
		vertical-align: top;
	}
	.dropd + .dropdown-menu.show{
		padding: 4px 48px;
		border: 0px solid transparent;
		border-radius: 0px 0px 7px 7px;
		background-color: #DCEAF8;
	}

	.dropd + .dropdown-menu.show .dropdown-item{
		background-color: transparent !important;
		color: #333333 !important;
	}


.menu-bottom{
	background-color: #F6FAFE;
	padding: 30px 0px;
}
	.menu-bottom ul{
		padding: 0px;
		list-style: none;
		margin: 0;
		text-align: center;
		font-size: 0;
	}

	.menu-bottom ul li{
		display: inline-block;
		font-size: 18px;
		padding: 0px 15px;
		color: #7a7c7e;
	}
		.menu-bottom ul li .drop-menu-bottom{
			cursor: pointer;
		}

		.menu-bottom ul li .dropdown{
			padding-bottom: 3px;
	}

	.menu-bottom ul li:hover .dropdown,
	.menu-bottom ul li.active a{
		border-bottom: 1px solid #EE7421;
	}

	.menu-bottom ul li.active a,
	.menu-bottom ul li.active .dropdown{
		border-bottom: 1px solid #EE7421;

	}
		.menu-bottom ul li.active,
		.menu-bottom ul li.active a,
		.menu-bottom ul li.active .drop-menu-bottom{
			color: #000000 !important;
		}
	.menu-bottom ul li .drop-menu-bottom,
	.menu-bottom ul li a{
		font-size: 18px;
		color: #7a7c7e !important;
		text-decoration: none !important;
	}
	.menu-bottom .dropdown-menu.show{
		padding: 4px 0px;
		border: 0px solid transparent;
		border-radius: 7px;
		background-color: #DCEAF8;
		margin-left: -15px;
	}
	.menu-bottom .dropdown-menu.show .dropdown-item{
		color: #999999 !important;
	}
	.menu-bottom .dropdown-menu.show .dropdown-item:hover,
	.menu-bottom .dropdown-menu.show .dropdown-item.active{
		color: #000000 !important;
		background-color: transparent;
	}

	.menu-bottom .mobile{
		display: none;
	}
		.menu-bottom .mobile .toggle-menu{
			font-size: 25px;
			margin-top: -5px;
			display: inline-block;
			cursor: pointer;
		}




@media (max-width: 575px){
	.menu .diagnostico-esr,
	.menu .separador{
		display: none;
	}
	.menu .boton-azul{
		margin-top: 20px;
		line-height: 15px;
		font-size: 12px;
		max-width: 240px;
	}
	.menu .button.main{
		margin-top: 20px;
	}
	.menu {
		text-align: center;
	}
	.menu .text-right{
		text-align: center !important;
	}
	.dropd{
	    font-size: 15px;
    }
}
@media (min-width: 576px) and (max-width: 767px){ /*	SM	*/
	.menu .logos img {
	    height: 50px;
	    padding-right: 10px;
	}
	.menu .diagnostico-esr,
	.menu .separador{
		display: none;
	}
	.menu .boton-azul{
		line-height: 15px;
		font-size: 12px;
		max-width: 240px;
	}
	.dropd{
	    font-size: 15px;
    }

}
@media(max-width: 767px){ /*	XS Y SM	*/

	#menu-t{
		overflow: hidden;
	}
	.menu-bottom .container{
		max-width: none !important;
		padding-right: 0px;
		padding-left: 0px;
	}
	.menu-bottom .mobile{
		display: block;
		max-width: 540px;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.menu-bottom .mobile + ul{
		display: none;
		position: relative;
	}
	.menu-bottom ul li{
		display: block;
		padding: 0px 0px;
		text-align: left;
	}
	.menu-bottom ul li .dropdown,
	.menu-bottom ul li a{
		padding: 10px 15px !important;
		display: block;
		width: 100%;
		text-align: left;
		max-width: 540px;
		margin: auto;
	}
	/* .menu-bottom ul li.active .dropdown,
	.menu-bottom ul li.active, .menu-bottom ul li.active a, .menu-bottom ul li.active .drop-menu-bottom{

	} */
	.dropdown-menu.show {
	    display: block;
	    width: 100%;
	    position: relative !important;
	    transform: translate3d(15px, 9px, 0px) !important;
	    margin-bottom: 20px;
	    border-radius: 0px !important;
	    background-color: #CEE2F6 !important;
	}
	.menu-bottom .dropdown-menu.show::after{
		content: '';
		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
		width: 100%;
		background-color: #CEE2F6;
	}
	.menu-bottom .dropdown-menu.show::before{
		content: '';
		position: absolute;
		top: 0;
		right: 100%;
		height: 100%;
		width: 100%;
		background-color: #CEE2F6;
	}

	.menu-bottom ul li.active{
		background-color: #DCEAF8;
		position: relative;
	}
}
@media(min-width: 768px){
	#menu-t{
		display: block !important;
	}
}

@media(min-width: 768px) and (max-width: 991px){ /*	MD	*/
	.menu .separador{
		margin: 0px 7px 0px 0px;
	}
	.menu .boton-azul{
		line-height: 15px;
		font-size: 12px;
		max-width: 204px;
	}
	.menu-bottom ul li .drop-menu-bottom, .menu-bottom ul li a {
	    font-size: 14px;
    }
	.menu-bottom ul li {
	    padding: 0px 7px;
    }
    .dropd{
	    font-size: 15px;
    }


}
@media(min-width: 992px) and (max-width: 1199px){ /*	LG	*/
	.menu .boton-azul{
		font-size: 14px;
		max-width: 300px;
	}
	.menu-bottom ul li {
	    padding: 0px 10px;
    }
}



/*	CONTENT	*/

.content{
	min-height: calc(100vh - 275px);
	padding: 100px 0px;
}
.content.sm{
	padding: 30px 0px 100px;
}


/*	FOOTER */

	.footer {
		background-color: #191919;
		color: #ffffff;
		padding: 30px 0px;
		font-size: 12px;
	}

	.footer img{
		height: 100px;
	}
		.footer p:last-of-type{
			margin: 0;
		}
		.footer a{
			color: #ffffff;
			text-decoration: underline;
		}
		.footer .separador{
			padding: 0px 20px;
		}
@media(max-width: 575px){
	.content{
		min-height: calc(100vh - 463px);
	}
}


/*	OTROS	*/

/* .text-and-circle-button{

} */
	.text-and-circle-button{
		display: inline-block;
		width: calc(100% - 42px);
	}
	.error-message{
	color: #FF6868;
	text-align: left;
	font-size: 16px;
}	






/*	OVERRIDES BOOTSTRAP	*/
.form-control{
	padding: 14px 15px;
}
.form-control-icono .form-control {
	padding: 14px 36px 14px 15px;
}
.modal-lg .modal-content{
	padding: 10px 20px;
}
.modal-lg .modal-header{
	border-bottom: 0px solid transparent;
	padding-bottom: 0px;
}
.modal-lg .modal .close{
	font-size: 40px;
	color: #496281;
	opacity: 1;
	padding: 14px 1rem;
}

.modal .modal-xs{
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}
	.modal .modal-xs h5{
		font-size: 20px;
	}
	.modal .modal-xs p{
		font-size: 16px;
	}
	.modal .modal-xs .close{
		font-size: 28px;
	}
	.modal .modal-xs .button{
		font-size: 16px !important;
		padding: 5px 15px;
		border-radius: 8px;
	}


.modal-lg .modal-footer{
	border-top: 0px solid transparent;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(3rem + 1px);
}
.btn-primary{
	background-color: #EE7421 !important;
	border-color: #ee7421 !important;
}
.arrow-right{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.barra-superior > div{
	display: inline-block;
	margin-right: 30px;
	max-width: 310px;
	vertical-align: top;
}
@media(min-width: 992px){
	.modal-xl {
	    max-width: 900px;
	}
}
	
.estilo-tabla .columna {
    display: inline-block;
    vertical-align: top;
}
.estilo-tabla .columna.columna_2{
	width: calc(100% - 190px);
}

@media(min-width: 992px) and (max-width: 1199px){ /*	LG	*/
	.estilo-tabla .barra-superior > div{
		max-width: 250px;
	}
}
@media(min-width: 768px) and (max-width: 991px){ /*	MD	*/
	.estilo-tabla.barra-superior > div{
		max-width: 250px;
	}
}
@media(max-width: 767px){ /*	SM	*/
	.estilo-tabla .columna.columna_2{
		width: 100%;
	}
}
.mw-240{
	max-width: 240px !important;
}

@media(min-width: 768px){
	.height-nota{
		min-height: 379px;
	}
	.hidden-md-up{
		display: none;
	}
	.hidden-md-down{
		display: block;
	}
	.height-descripcion{
		min-height: 272px;
	}
}

.custom-width{
	width: calc(100% - 185px);
}

@media(max-width: 767px){
	.custom-width{
		width: 100%;
	}
	.sm-block{
		display: block;
		width: 100%;
		max-width: none !important;
		margin-left: 0px;
		margin-right: 0px;
	}	
	.sm-custom-m{
		margin-top: 15px;
		margin-bottom: 30px;
	}
	.sm-48{
		width: 48%;
	}
	.hidden-md-up{
		display: block;
	}
	.hidden-md-down{
		display: none;
	}
}

@media(min-width: 992px){
	.right-custom{
		position: absolute;
		right: 0;
	}
	
}

@media(max-width: 991px){
	.md-block{
		display: block;
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;
		float: none;
	}
}

.espacio-file{
	width: 100%;
	margin-bottom: 15px;
}	
	
.circulo-file{
	color: #C4C4C4;
	border: 1px dashed #C4C4C4;
	width: 150px;
	height: 150px;
	text-align: center;
	border-radius: 100%;
	font-size: 15px;
	padding-top: 50px;
	margin: auto;
	cursor: pointer;
}
	.circulo-file.foto{
		font-size: 0;
		background-size: cover;
		background-position: center center;
		border: 0px solid transparent;
	}
	
.foto-card{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-size: cover;
	background-position: center center;
}
	.foto-card.big{
		width: 100px;
		height: 100px;
	}
@media(max-width:575px){  
	.foto-card{
		margin-bottom: 15px;
	}	
}

.logo_empresa{
	width: 100% !important;
	height: 80px !important;
	padding: 0px 10% !important;
	margin-bottom: 15px !important;
	margin-top: 15px !important;
}

	.logo_empresa div{
		background-size: contain;
		background-position: center center;
		height: 100%;
		background-repeat: no-repeat;
	}
.alert h3{
	color: #155724;
}

.caja-numero{
	text-align: center;
	color: black;
}
	.caja-numero p{
		margin-top: 5px;
	}
	.caja-numero div{
		color: #03053D;
		font-size: 50px;
		font-weight: bold;
		line-height: 50px;
	}
	
.icon-btn-link{
	width: 15px;
	margin-top: -5px;
}
.disabled .icon-btn-link{
	opacity: 0.2;
}
.valign-top{
	vertical-align: top;	
}
.bottom{
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.black{
	color: #000000;
	font-size: 19px !important;
}
.f-16{
	font-size: 16px;
}

@media(max-width: 410px){
	.col-xxs-12{
		width: 100%;
		max-width: 100%;
		flex: 0 0 100%;
	}	
}

@media(max-width:575px){  
	.input-group-prepend{
		width: 100%;
	}	
		.input-group-prepend .input-group-text{
			width: 100%;
			border-radius: .25rem .25rem 0 0 !important;
		}
		.input-group-prepend + .form-control{
			border-radius: 0 0 .25rem .25rem !important;
		}
		.input-group-prepend select.form-control{
			border-radius: .25rem .25rem 0px 0px !important;
			border-bottom: 0px;
		}
}

.well.blue{
	background-color: #F6FAFE;
	border: 1px solid #496281;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
	border-radius: 15px;
	padding: 50px 30px;
}
.cuota-recuperacion{
	font-size: 50px;
	font-weight: bold;
}
.mensaje-cuadro{
	padding: 10px 20px;
	border: 1px solid #E6E6E6;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
	border-radius: 15px;
}
.caja .precio,
.mensaje-cuadro .precio{
	font-size: 30px;
}
@media(max-width: 767px){
	.sm-left{
		text-align: left !important;
	}
}
.texto-gde{
	font-weight: bold;
	font-size: 30px;
	color: #03053D;
}
.w-200px{
	width: 200px;
}
.w-auto{
	width: auto !important;
}
.icono-tarjeta{
	width: 16px;
	transform: translateY(-2px);
}

.input-xs{
	width: 70px;
}
.valign-top{
	vertical-align: top;
}
@media(max-width: 767px){
	.xs-100{
		width: 100% !important;
	}	
}



@media(max-width:575px){  /*	XS	*/	
	
}	
@media(min-width: 576px) and (max-width: 767px){ /*	SM	*/
	
}
@media(min-width: 768px) and (max-width: 991px){ /*	MD	*/
	
}
@media(min-width: 992px) and (max-width: 1199px){ /*	LG	*/
	
}
@media(min-width: 1200px){ 	/*	XL	*/}